.controls {
	z-index: 999;
}

.cover {
	z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../img/textures/noise.gif);
    top: 0;
    opacity: 0.05;
    pointer-events: none;